.login {
    display: grid;
    gap: 10px;
    padding: 12px;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    margin-bottom: 80px;
    transform: scale(1.2);

    input {
        padding: 10px;
        border: 0;
        border-radius: 10px;
        outline: none;
        font-weight: bold;
    }

    button {
        padding: 10px;
        border: 0;
        border-radius: 10px;
        outline: none;
        background: rgb(0, 112, 28); 
        color: white;
        font-weight: bold;
    }
}