.icon-app {
    background: white;
    border-radius: 10px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 55px;
        height: 55px;
        border-radius: 10px;
    }
}