.forms {
    width: 100%;
    height: calc(100vh - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://www.shutterstock.com/image-vector/using-modern-media-platforms-whatsapp-600nw-2414283607.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}